<div class="container">
    <div class="search-container">
        <i class="fa fa-search" aria-hidden="true"></i>
        <div class="input-field">
            <input type="text" name="search" id="search" placeholder="Type of Crytocurrency"/>
        </div>
        
    </div>       
    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
    <i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>
    <div class="profile-section">
        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        <div class="name">Harry</div>
    </div>
</div>