<div class="body-header-container">
    <div class="text-container">
        <div class="primary-text">
            Overview
        </div>
        <div class="secondary-text">
            Data Overview of your Crytocurrency account.
        </div>
    </div>
    <div class="right-side">
        <div class="view-type"></div>
        <div class="left-right">
            <div class="common left" (click)="moveLeft()"></div>
            <div class="common right" (click)="moveRight()"></div>
        </div>
    </div>
</div>